@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.newRegForm {
    width: 550px;
    border:solid 0.5px;
    padding: 10px;

}

.login-form {
    margin-top:50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    max-width: 450px;
    padding: 15px;
}

.my-profile-form {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    max-width: 600px;
    padding: 15px;
}

.register-form {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    max-width: 600px;
    padding: 15px;
}

.forgot-password-form {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    max-width: 500px;
    padding: 15px;
}

.reset-password-form {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    max-width: 500px;
    padding: 15px;
}

.reset-temporary {
    font-size: 14px;
    color: blue;
    font-weight:600;
}

input[type=file] {
    color: transparent;
}

.img-100 img {
    max-width: 100%;
    max-height: 100%;
}

.img-90 img {
    max-width: 90%;
    max-height: 90%;
}

.img-75 img {
    max-width: 75%;
    max-height: 75%;
}

.img-65 img {
    max-width: 65%;
    max-height: 65%;
}

.img-50 img {
    max-width: 50%;
    max-height: 50%;
}

.img-25 img {
    max-width: 25%;
    max-height: 25%;
}

.img-35 img {
    max-width: 35%;
    max-height: 35%;
}

.img-100 embed {
    max-width: 100%;
    max-height: 100%;
}

.img-75 embed {
    max-width: 75%;
    max-height: 75%;
}

.img-65 embed {
    max-width: 65%;
    max-height: 65%;
}

.img-50 embed {
    max-width: 50%;
    max-height: 50%;
}

.img-25 embed {
    max-width: 25%;
    max-height: 25%;
}

.img-35 embed {
    max-width: 35%;
    max-height: 35%;
}




