@model CategoryViewModel

@{

}

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Manage Categories</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Category" class="btn btn-info form-control text-white">
            Add
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="categoryTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="categoryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-info">Category Details</h3>
            </div>
            <div class="modal-body">
                <br />
                <label style="color:blue" class="font-weight-bold">Category ID:</label>&nbsp;<span id="categoryId"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Name:</label>&nbsp;<span id="categoryName"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Description:</label>&nbsp;<span id="categoryDescription"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Note:</label>&nbsp;<span id="categoryNote"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Is Active:</label>&nbsp;<span id="categoryIsActive"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Is Hidden:</label>&nbsp;<span id="categoryIsHidden"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Created Date:</label>&nbsp;<span id="categoryCreatedDate"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Created By:</label>&nbsp;<span id="categoryCreatedBy"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Updated Date:</label>&nbsp;<span id="categoryUpdatedDate"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Updated By:</label>&nbsp;<span id="categoryUpdatedBy"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="categoryListId" src="~/js/Category/categoryList.js"></script>
    <script>
        $(document).ready(function () {
            //document.querySelector("#categoryAdd").onclick = function (e) {
            //    e.preventDefault();
            //}
        });
    </script>
}
