<div class="modal fade" tabindex="-1" id="showMessage" data-backdrop="static" data-keyboard="false">
    <div style="height:50px"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["ModalMessage"]
            </div>
            <div class="col-3">
                <input type="button" value="OK" onclick="location.href='@Url.Action("Index", "Home")'" />
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#showMessage").modal('show');
        $(".container").css('background-color', 'transparent');
    });
</script> 