@model StaffViewModel

    <div style="height:50px">&nbsp;</div>
    <div class="border container" style="padding:30px; width:700px">
        <div class="border container" style="background-color:lightblue; padding:10px; width:600px">
            <div>&nbsp;</div>
        </div>
    </div>

@section Scripts{
}

