@{
    var message = ViewData["ModalMessage"];
}

<div class="modal fade" tabindex="-1" id="showMessage" data-backdrop="static" data-keyboard="false">
    <div style="height:50px"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                @message
            </div>
            <div class="col-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/showModalMessage.js"></script>
}
