@model AreaViewModel

@{

}

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Manage Areas</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Area" class="btn btn-info form-control text-white">
            Add
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="areaTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="areaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-info">Area Details</h3>
            </div>
            <div class="modal-body">
                <label style="color:blue" class="font-weight-bold">Area ID:</label>&nbsp;<span id="areaId"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Name:</label>&nbsp;<span id="areaName"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Description:</label>&nbsp;<span id="areaDescription"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Note:</label>&nbsp;<span id="areaNote"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Is Active:</label>&nbsp;<span id="areaIsActive"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Is Hidden:</label>&nbsp;<span id="areaIsHidden"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Created Date:</label>&nbsp;<span id="areaCreatedDate"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Created By:</label>&nbsp;<span id="areaCreatedBy"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Updated Date:</label>&nbsp;<span id="areaUpdatedDate"></span>
                <br />
                <label style="color:blue" class="font-weight-bold">Updated By:</label>&nbsp;<span id="areaUpdatedBy"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="areaListId" src="~/js/Area/areaList.js"></script>
    <script>
        $(document).ready(function () {
            //document.querySelector("#areaId").onclick = function (e) {
            //    e.preventDefault();
            //}
        });
    </script>
}
